/*Breakpoint definitions*/
$large-breakpoint: 1250px;
$medium-breakpoint: 991px;
$small-breakpoint: 767px;
$mini-breakpoint: 575px;

/*Global variables*/
*:focus {
  outline: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6, ul, ol, p {
  margin: 0;
  padding: 0;
}

/*Component styling*/
